.feed{
    flex:0.7;
    padding:10px;
    overflow-y: scroll;
    
}
.feed::-webkit-scrollbar{
    display:none;
}
.feed__header{
    width:fit-content;
    padding:10px;
    display:flex;
    width:80%;
    border:1px solid lightgray;
    justify-content: space-between;
    top:0;
    position:sticky;
    background-color: white;
    z-index:100;
}
.feed__first{
    display: flex;
    align-items:center;
}
.feed__container{
    border:1px solid lightgray;
    padding:10px;
    width:80%;
    box-shadow:0px 3px 17px -2px rgba(0,0,0,0.21);
}
.feed__info{
    display:flex;
    flex-direction: column;
}
.feed__first>input{
    border:none;
    cursor:pointer;
    border-bottom:1px solid blue;
    padding:10px;
    outline:none;
  
}
.feed__info>input{
    border:none;
    cursor:pointer;
    border-bottom:1px solid blue;
    padding:10px;
    outline:none;
}
.feed__button{
    background:rgba(0, 119, 255, 0.719)  !important;
    padding:10px !important;
    border-radius:20px !important;
    margin-top:10px !important;
    margin-left:auto !important;
    color:white !important;
    font-weight:600 !important;
}